
body{
    font-family: 'Homenaje', sans-serif;
    background: black;
        background-image: url("../imgs/bg.jpg")
}
.container{
    background-color: white;

}

.jumbotron{
    background: url("../imgs/bart.jpg");
    height: 300px;
    background-position-y: 50%;
    opacity: 50%;
}

#map{
    margin:30px;
}
